[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "x11-headers"]
	path = x11-headers
	url = https://github.com/hexops/x11-headers.git
[submodule "wayland-headers"]
	path = wayland-headers
	url = https://github.com/hexops/wayland-headers.git
